.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-size: 15rem;
    color: #f49910;
    font-family: var(--primary-font), sans-serif;
    width: 800px;
    padding: 5%;
    margin-top: 16%;

}

.text-error-404 {
    font-size: 1.4rem;
    font-family: var(--primary-font), sans-serif;
    color: #8F8F8F;
    margin-bottom: 20px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
    margin-bottom: 15%;

    button {
        font-size: 1.2rem;
        background: var(--primary-color);
        background: #44151f;
        color: white;
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
    }
}

@media (max-width: 720px) {
    h1 {
        font-size: 200px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 150px;
        text-align: center;
    }

    .text-error-404 {
        font-size: 1.2rem;
    }
}